<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Text1" value="Tớ có điều muốn nói với Cậu!!!
        "></add>
    <add key="Text2" value="Cậu hãy nhấn nút mở nhé!!!"></add>
    <add key="Text3" value="Mình cho cậu 1 điều ước nhé!      Cậu muốn mình làm gì nè ?"></add>
    <add key="Text4" value="Đừng thoát nha, 

    cậu đừng có ngại, 
    
    trả lời mình đi nhá !"></add>
    <add key="Text5" value="THANK YOU"></add>
    <add key="Text6" value="I LOVE YOU"></add>
  </appSettings>
</configuration>